<div class="modal fade" id="Modal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-mg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Tilføj journal til hændelse</h4>
            </div>
            <div class="modal-body">
                <label class="modal-labels">Hændelse-ID: {{incidentManager.incidentId}}</label><br />
                <div id="modtagelse-DropDown">
                    <label class="dropDownlabels" id="modtagelseModallbls">Vælg Modtagelse</label><br />
                    <select class="form-control" id="ModtagelseDropDown" [(ngModel)]="selectedReception">
                        <option *ngFor="let reception of preparednessManager.receptionList" [ngValue]="reception">
                            {{reception.name}}
                        </option>
                    </select>
                </div>
                <table id="journalModal-table">
                    <tr>
                        <td>
                            <label class="modal-labels">Cpr</label>
                        </td>
                        <td>
                            <input [(ngModel)]="txtCpr" class="form-control modal-textboxes" type="text" placeholder="Cpr" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="modal-labels">Fornavn</label>
                        </td>
                        <td>
                            <input [(ngModel)]="txtName" class="form-control modal-textboxes" type="text" placeholder="Fornavn" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="modal-labels">Mellemnavn</label>
                        </td>
                        <td>
                            <input [(ngModel)]="txtMiddleName" class="form-control modal-textboxes" type="text" placeholder="Mellemnavn" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="modal-labels">Efternavn</label>
                        </td>
                        <td>
                            <input [(ngModel)]="txtLastname" class="form-control modal-textboxes" type="text" placeholder="Efternavn" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="modal-labels">Info</label>
                        </td>
                        <td>
                            <textarea id="journaltxtDescription" [(ngModel)]="txtInfo" class="form-control modal-textboxes" rows="5" placeholder="Info..."></textarea>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <!--<ngb-alert [dismissible]="false" [hidden]="isHidden">
                    <strong id="JournalModalAlert">Udfyld venligst mindst et felt og en hændelse</strong>
                </ngb-alert>-->
                <button class="btn btn-success btnOkJournalModal" (click)="btnOk()" data-dismiss="modal">
                    <span class="glyphicon glyphicon-ok"></span>
                    OK
                </button>
                <button class="btn btn-warning btn-cancelModal" (click)="btnCancel()" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove-sign"></span>
                    Annuller
                </button>
            </div>
        </div>
    </div>
</div>


